doctype html
html
  head
    title Richard's Page
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="style.css")
    link(rel="shortcut icon" href="favicon.ico")
  body
    #bg
    #root
      a#github(href="https://github.com/coverslide", title="Github")
        i(class="fa fa-github")
      a#linkedin(href="https://www.linkedin.com/in/richardjhoffman", title="LinkedIn")
        i(class="fa fa-linkedin")
      a#resume(href="https://coverslide.me/resume.html", title="Resume")
        i(class="fa fa-file-text")

  script(src="main.js")
