doctype html
html
  head
    title Richard's Page
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon" href="favicon.ico")
    style.
      html {
        background: black;
        height: 100%;
      }
      body {
        height: 100%;
      }
      #bg {
        position: fixed;
        height: 100%;
        width: 100%;
      }
      #bg canvas {
        width: 100%;
        height: 100%;
      }
      #root {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
      #root a {
        display: inline-block;
        margin-left: 1vw;
        margin-right: 1vw;
        color: #ddd;
        font-size: 23vw;
        text-align: center;
        padding-top: 3vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        transform: rotateZ(0deg);
        transition: transform 1s linear, color .3s linear;
        width: 30vw;
        height: 30vw;
        border-radius: 1000px;
        /* border: 1px solid white */
      }
      #root a:hover {
        color: white;
        transform: rotateZ(360deg);
      }
  body
    #bg
    #root
      a#github(href="https://github.com/coverslide", title="Github")
        i(class="fa fa-github")
      a#linkedin(href="https://www.linkedin.com/in/richardjhoffman", title="LinkedIn")
        i(class="fa fa-linkedin")
      a#resume(href="https://coverslide.me/resume.html", title="Resume")
        i(class="fa fa-file-text")

  script.
    (function () {
      // just a silly canvas draw, want to do something more fun with this
      var global = {};
      var point = { x: 0, y: 0, dx: 0, dy: 0, ddx: 0, ddy: 0 };
      
      function init () {
        global.bg = document.getElementById('bg');
        global.aspect = window.innerHeight / window.innerWidth;
        global.canvas = document.createElement('canvas');
        global.canvas.width = window.innerWidth;
        global.canvas.height = window.innerHeight;
        global.bg.appendChild(global.canvas);
        global.lastTicks = 0;
        global.x = 0;
        global.y = 0;

        global.x = global.canvas.width / 2;
        global.y = global.canvas.height / 2;
        point.x = global.x;
        point.y = global.y;

        window.addEventListener('mousemove', function (event) {
          var context = global.canvas.getContext('2d');
          global.x = event.pageX;
          global.y = event.pageY;
          context.arc(event.screenX, event.screenY, 20, 0, 2 * Math.PI)
        });
      }

      function render (ticks) {
        var delta = ticks - global.lastTicks;
        global.lastTicks = ticks;
        var context = global.canvas.getContext('2d');
        context.strokeStyle = 'rgba(255, 255, 255, .05)';
        context.lineCap = 'butt';
        context.lineWidth = Math.abs(point.dx + point.dy) / 2;
        context.beginPath();
        context.moveTo(point.x, point.y);
        var damp = .5;
        var tightness = 5;
        //  F = -k(|x|-d)(x/|x|) - bv
        var distx = (global.x - point.x) - point.dx;
        var disty = (global.y - point.y) - point.dy;
        point.ddx = (distx) / 20;
        point.ddy = (disty) / 20;
        point.dx += point.ddx;
        point.dy += point.ddy ;
        point.x += point.dx;
        point.y += point.dy;
        context.lineTo(point.x, point.y);
        context.stroke();
        requestAnimationFrame(render);
      }

      init();
      render(0);

      window.onresize = function () {
        global.canvas.width = window.innerWidth;
        global.canvas.height = window.innerHeight; 
      }
    })();
