doctype html
html
  head
    title Richard's Page
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon" href="favicon.ico")
    style.
      html {
        background: black;
        height: 100%;
      }
      body {
        height: 100%;
      }
      #bg {
        position: fixed;
        height: 100%;
        width: 100%;
      }
      #bg canvas {
        width: 100%;
        height: 100%;
      }
      #root {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
      #root a {
        display: inline-block;
        margin-left: 1vw;
        margin-right: 1vw;
        color: #aaa;
        font-size: 23vw;
        text-align: center;
        padding-top: 3vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        transform: rotateZ(0deg);
        transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), text-shadow 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 30vw;
        height: 30vw;
        border-radius: 1000px;
        text-shadow: black 0 0;
        /* border: 1px solid white */
      }
      #root a:hover {
        color: white;
        transform: rotateZ(360deg);
        text-shadow: #44f 0 0 50px; 
      }
  body
    #bg
    #root
      a#github(href="https://github.com/coverslide", title="Github")
        i(class="fa fa-github")
      a#linkedin(href="https://www.linkedin.com/in/richardjhoffman", title="LinkedIn")
        i(class="fa fa-linkedin")
      a#resume(href="https://coverslide.me/resume.html", title="Resume")
        i(class="fa fa-file-text")

  script(src="/bundle.js")
